:root {
  --percent: 3;
  --stroke-dasharray: calc(2 * 3.14 * 48);
}

body {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.frame-wrapper {
  width: 703px;
  padding: 10px 20px;
  background-color: #3579f5;
  border-radius: 10px;
}

.frame {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  position: relative;
}

.progress-bar__text {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 20px;
  line-height: 30px;
}

.circle-bar {
  stroke-linecap: round;
  stroke-dasharray: 301.44px;
  stroke-dashoffset: calc(
    var(--stroke-dasharray) * ((100 - var(--percent)) / 100)
  );
}

.check-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.check-list__button {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  width: 76px;
  background-color: #2364db;
  border: none;
  border-radius: 40px;
}

.check-list__checked {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.check-list__next {
  font-size: 12px;
  line-height: 18px;
}

.frame-button {
  margin-left: auto;
  height: 40px;
  background-color: #f4f8ff;
  font-size: 14px;
  line-height: 20px;
  color: #4777ed;
  border: none;
  border-radius: 6px;
  padding: 10px 32px;
}
